@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
:root {
	/* todo: rename colors(?) */
	--very-light-blue-color: #80d8ff;
	--light-blue-color: #82b1ff;
	--purplish-blue-color: #b388ff;
	--heliotrope-color: #ea80fc;
	--vivid-cyan-color: #1de9b6;
	--dark-vivid-cyan-color: #061e37;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
}


/* utilities, multiple use */
.container {
	width: 90%;
	margin: 0 auto;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}
.title {
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
}
.subtitle {
	font-size: 1.5rem;
	text-align: center;
	color: #949494;
}
.secondary-text {
	font-size: 1rem;
	text-align: center;
	color: #949494;
}
.btn {
	color: #fff;
	display: inline-block;
	background-color: var(--dark-vivid-cyan-color);
	padding: 10px 30px;
	margin: 5px 0;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}
.btn:hover {
	transform: scale(0.98);
}
.btn-light {
	color: var(--dark-vivid-cyan-color);
	background-color: #fff;
}
.btn-primary {
	background-color: var(--vivid-cyan-color);
}

/* header section */
.header {
	background: url('../img/head.png') center no-repeat;
	background-size: cover;
}
.header .navbar {
	padding: 15px 0;
}
.header .navbar.flex {
	justify-content: space-between;
}
.nav ul {
	display: flex;
}
.nav ul li {
	margin: 0 20px;
}
.nav ul a {
	display:inline-block;
}
.nav ul a:hover {
	color: var(--dark-vivid-cyan-color);
	font-weight: 700;
}
.nav ul a::before {
	display: block;
	content: attr(title);
	font-weight: 700;
	height: 0;
	overflow: hidden;
	visibility: hidden;	
}
.logo img {
	width: 64px;
	vertical-align: bottom;
}
.logo {
	color: #fff;
	font-size: 2rem;
}
.header .showcase {
	padding: 60px 0;
}
.showcase-text {
	color: #fff;
	width: 80%;
}
.showcase-text h1 {
	text-transform: uppercase;
}
.showcase-text h1 {
	font-size: 3rem;
}
.showcase-text p {
	font-size: 1.1rem;
	padding: 10px 0 30px 0;
	line-height: 2;
}
.showcase-text a {
	margin-right: 20px;
}
.showcase-video img {
	cursor: pointer;
	max-width: 100%;
}
/* .showcase-video img:hover {
	transform: scale(0.99);
} */



/* our tools section */
.our-tools {
	margin: 40px 0;
}
.our-tools .grid-3 {
	margin: 40px 0;
	padding: 40px;
	text-align: center;
}
.tools-card h3 {
	font-weight: 400;
}
.tools-card i {
	font-size: 64px;
	margin: 20px;
}
.tools-card .fa-calendar-alt {
	color: var(--purplish-blue-color);
}
.tools-card .fa-users {
	color: var(--very-light-blue-color);
}
.tools-card .fa-envelope {
	color: var(--heliotrope-color);
}
.our-tools .container .secondary-text {
	max-width: 500px;
	margin: 10px auto;
}
.tools-link {
	text-align: center;
}
.our-tools .grid-4 {
	margin: 40px 0;
	text-align: center;
	grid-gap: 0;
}
.tools-stat {
	padding: 40px 30px;
	background-color: var(--very-light-blue-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tools-stat i {
	font-size: 40px;
	margin-right: 15px;
}
.tools-stat.blue {
	background-color: var(--light-blue-color);
}
.tools-stat.viv {
	background-color: var(--purplish-blue-color);
}
.tools-stat.heli {
	background-color: var(--heliotrope-color);
}


/* services section */
.services {
	padding: 20px 0;
}
.services .container .secondary-text {
	max-width: 500px;
	margin: 10px auto;
}


.services-offers {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}
.services-offers-card {
	padding: 10px 0;
}
.services-offers-card .collapsible {
	/* font */
	border-radius: 5px;
	border: none;
	width: 100%;
	color: #000;
	background-color: transparent;
	box-shadow: 2px 2px 5px #949494;
	padding: 20px 15px;
	text-align: left;
	font-size: 1.1rem;
}
.services-offers-card .collapsible i {
	margin-right: 10px;
}
.services-offers-card .active {
	/* box-shadow: -2px -2px 5px #949494; */
}
.services-offers-card .content {
	box-shadow: 2px 2px 5px #949494;
	padding: 20px 15px;
	display: none;
	border-radius: 5px;
	transform: scale(0);
 	transition: 0.6s linear opacity, 0.6s linear transform;
}

/* reviews section */
.reviews {
	background: url('../img/bg-reviews.png') center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 50px 0;
}
.reviews-text h2 {
	font-size: 2.5rem;
	font-weight: 400;
}
.reviews-text p {
	padding: 20px 0;
	max-width: 600px;
	line-height: 2;
}
.reviews-btns {
	text-align: center;
	padding: 10px;
}
.reviews-btns a {
	padding: 10px;
}
.reviews-btns a:hover {
	color: var(--dark-vivid-cyan-color);
}
.reviews-card {
	text-align: center;
	margin: 5px;
	animation: open-slide 1.5s ease-in-out;
}
.reviews-card img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.reviews-card h3 {
	margin: 5px 0 10px 0;
}
.reviews-card p {
	/* display: inline-block; */
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}


/* our team section */
.our-team {
	margin: 50px 0;
}
.our-team .container .secondary-text {
	max-width: 500px;
	margin: 10px auto;
}
.our-team-photo img {
	width: 128px;
	height: 128px;
	border-radius: 64px;
	margin: 60px;
}
.our-team-photo img:hover {
	transform: scale(0.98);
}
.our-team-photo .active  {
	box-shadow: 0 0 5px 15px var(--dark-vivid-cyan-color);
}
.our-team-photo .unactive {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	filter: blur(1px);
}


/* contact us section */
.contact-us {
	background: #e8e8e8;
	padding: 40px;
}
.contact-us p {
	max-width: 500px;
	margin: 10px auto;
	text-align: center;
}
.contact-form {
	text-align: center;
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}
.contact-form .names input[type=text], .contact-form .contacts input[type=email], .contact-form .contacts input[type=text] {
	border: 1px solid var(--dark-vivid-cyan-color);
	border-radius: 7px;
	padding: 12px;
	margin: 10px 0;
	width: 100%;
	outline: none;
}
.contact-form textarea {
	border: 1px solid var(--dark-vivid-cyan-color);
	border-radius: 7px;
	resize: none;
	width: 100%;
	padding: 12px;
	height: 130px;
	outline: none;
}
#fName, #email {
	margin-right: 15px;
}
.form-bottom.flex {
	justify-content: space-between;
	margin: 10px 0;
}
.form-bottom label {
	font-size: 0.9rem;
}

/* footer section */
.footer {
	background-color: var(--dark-vivid-cyan-color);
	padding: 50px 0;
}
.footer .flex {
	justify-content: space-between;
}
.footer .nav a:hover{
	color: #fff;
	text-decoration: underline;
}
.footer .social-media {
	justify-content: flex-end;
	padding: 10px 0;
}


@keyframes open-slide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media (max-width: 1100px) {
	.header .showcase.grid {
		text-align: center;
		grid-template-columns: 1fr;
	}
	.header .showcase-text {
		margin: 0 auto;
	}
}

@media (max-width: 820px) {
	.our-tools .grid-4 {
		grid-template-columns: 1fr;
	}
	.reviews .grid {
		grid-template-columns: 1fr;
	}
	.reviews .reviews-text {
		text-align: center;
	}
	.header .flex {
		flex-direction: column;
	}
	.header .nav {
		margin: 20px 0;
	}
	.footer .flex {
		flex-direction: column;
	}
	.footer .logo {
		margin-bottom: 20px;
	}
	.footer .social-media {
		justify-content: center;
	}
	.our-team-photo.flex {
		flex-direction: column;
	}
	.our-team-photo img {
		margin: 20px;
	}
}

@media(max-width: 500px) {
	.our-tools .grid-3 {
		grid-template-columns: 1fr;
	}
	.our-team-photo {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}




