@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}
:root {
	/* todo: rename colors(?) */
	--very-light-blue-color: #80d8ff;
	--light-blue-color: #82b1ff;
	--purplish-blue-color: #b388ff;
	--heliotrope-color: #ea80fc;
	--vivid-cyan-color: #1de9b6;
	--dark-vivid-cyan-color: #061e37;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
}


/* utilities, multiple use */
.container {
	width: 90%;
	margin: 0 auto;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.btn {
	color: #fff;
	display: inline-block;
	background-color: var(--dark-vivid-cyan-color);
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
}
.btn:hover {
	transform: scale(0.98);
}
.btn-light {
	color: var(--dark-vivid-cyan-color);
	background-color: #fff;
}
.btn-light:hover {
}

/**/
.header {
	background: url('../img/head.png') center no-repeat;
	background-size: cover;
}
.header .navbar {
	padding: 15px 0;
}
.header .navbar.flex {
	justify-content: space-between;
}
.nav ul {
	display: flex;
}
.nav ul li {
	margin: 0 20px;
}
.nav ul a {
	display:inline-block;
}
.nav ul a:hover {
	color: var(--dark-vivid-cyan-color);
	font-weight: 700;
}
.nav ul a::before {
	display: block;
	content: attr(title);
	font-weight: 700;
	height: 0;
	overflow: hidden;
	visibility: hidden;	
}
.logo img {
	width: 64px;
	vertical-align: bottom;
}
.logo {
	color: #fff;
	font-size: 2rem;
}
.header .showcase {
	padding: 60px 0;
}
.showcase-text {
	color: #fff;
	width: 80%;
}
.showcase-text h1, .showcase-text a {
	text-transform: uppercase;
}
.showcase-text h1 {
	font-size: 3rem;
}
.showcase-text p {
	font-size: 1.1rem;
	padding: 10px 0 30px 0;
	line-height: 2;
}
.showcase-text a {
	margin-right: 20px;
}
.showcase-video img {
	cursor: pointer;
}
/* .showcase-video img:hover {
	transform: scale(0.99);
} */









